.frame {
  margin: 0 auto;
  width: 70%;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  background-color: #8aa965;
  height: 56px;
  width: 100%;

  div {
    margin: 0 16px;
  }
}

.qr-button {
  background: linear-gradient(270deg, #8aa965 0%, #155437 100%);
  border: radius;
  width: 90%;
  border: none;
  height: 50px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 8px;
}
.info-text {
  color: #155437;
  width: 80%;
  margin: 32px 0;
  text-align: center;
}

.qr-code {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qr-input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #155437;

  margin: 16px 0 16px;

  &::placeholder{
    text-align: center;
  }
}
